html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

body {
  color: #222;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
}

h1 {
  font-size: 5em;
  font-weight: 100;
  margin: 0 0 0.5em;
  text-align: center;
  line-height: 1;
}
@media screen and (min-width: 33em) {
  h1 {
    margin-bottom: 0.1em;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 33em) {
  li {
    display: inline-block;
    margin: 0 1em;
  }
}

a,
a:link {
  color: #222;
  font-size: 2.25em;
  font-weight: 100;
  text-decoration: none;
}
a:hover,
a:link:hover {
  color: #a2a2a2;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
