* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  @include flexbox;
  @include flexbox-align-items(center);
}

body {
  color: $font-color;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
}

h1 {
  font-size: 5em;
  font-weight: 100;
  margin: 0 0 0.5em;
  text-align: center;
  line-height: 1;

  @media screen and (min-width: 33em) {
    margin-bottom: 0.1em;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

li {
  @media screen and (min-width: 33em) {
    display: inline-block;
    margin: 0 1em;
  }
}

a,
a:link{
  color: $font-color;
  font-size: 2.25em;
  font-weight: 100;
  text-decoration: none;

  &:hover {
    color: lighten($font-color, 50%);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
